name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@master

      - name: Generate snake animation
        id: snake-gif
        uses: Platane/snk@master
        with:
          github_user_name: Rfzz1

          # Cores
          color_snake: "#A020F0"
          color_dots: "#000000,#2f004f"

          outputs: |
            dist/github-contribution-grid-snake-dark.svg

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
